.container {
  padding-inline: 5vw;
  overflow-x: hidden;
}
.container-xl {
  padding-inline: 2vw;
}
.link-redirection {
  position: absolute;
  height: 60px;
  bottom: 0;
}

p,
label {
  font-size: 16px;
}

a,
input[type="submit"] {
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

input {
  height: 50px;
  border: none;
  border-bottom: 2px solid var(--eerie-black);
  outline: none;
  background: transparent;
}

/*button*/
.primary-button {
  background-color: var(--accent);
  padding: 15px;
  width: fit-content;
  color: var(--white);
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

.primary-button:hover {
  background-color: rgb(102, 64, 32);
}

.secondary-button {
  padding: 15px 35px;
  width: fit-content;
  border: 2px solid var(--eerie-black);
  text-decoration: none;
  color: var(--eerie-black);
  transition: 0.2s linear;
}

.secondary-button:hover {
  background-color: var(--eerie-black);
  color: var(--white);
}

.secondary-button-light {
  padding: 13px 50px;
  width: fit-content;
  border: 2px solid var(--white);
  text-decoration: none;
  color: var(--white);
  transition: 0.2s linear;
}

.secondary-button-light:hover {
  background-color: var(--white);
  color: var(--eerie-black);
}

/*title section*/
.section-title {
  text-align: center;
  padding: 50px 12vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.section-title h1 {
  font-weight: 500;
}

.section-title h2 {
  font-weight: 400;
}

.section-title span {
  color: var(--accent);
  position: relative;
}

.section-title span:before {
  content: "";
  background-color: var(--accent);
  width: 20px;
  height: 2px;
  top: 10px;
  left: -30px;
  position: absolute;
}

.section-title span:after {
  content: "";
  background-color: var(--accent);
  width: 20px;
  height: 2px;
  right: -30px;
  top: 10px;
  position: absolute;
}
/*banner*/

.banner {
  background-image: url("../img/2150901946.jpg");
  margin-bottom: 100px;
  background-size: cover;
  background-color: rgb(52, 52, 52);
  background-blend-mode: multiply;
  filter: grayscale(100);
  background-position: center;
  position: relative;
}
.banner * {
  color: var(--white);
}
.banner div * {
  width: 60vw;
}
.banner div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 150px;
  text-align: center;
  align-items: center;
}
.banner h1 {
  font-size: 50px;
}
.banner h2 {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 900px) {
  h1 {
    width: 50vw !important;
  }
}
@media screen and (max-width: 900px) {
  .banner div * {
    width: 80vw;
  }
  .banner h1 {
    font-size: 35px;
  }
  .banner h2 {
    font-size: 16px;
  }
}
