:root {
  --accent: #a1683aff;
  --eerie-black: #262626;
  --white: #fbf7f4;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--eerie-black);
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: var(--white);
}

nav {
  background-color: var(--white);
  font-weight: 600;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 20px -11px #a6a6a6;
}
nav img {
  width: 150px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav ul li a {
  transition: color 0.2s linear;
}
nav ul li a:hover {
  color: var(--accent);
}
/*hero section*/
.hero-section {
  background-image: url("../img/43335.jpg");
  background-color: rgb(77, 77, 77);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45vw;
  padding-block: 100px;
}
.hero-text h1 span {
  font-weight: 400;
  color: var(--white);
}
.hero-section h1 {
  color: var(--white);
  font-size: 50px;
  line-height: 60px;
}
.hero-section h2 {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 50px;
}
.btn-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
