:root {
  --accent: #a1683aff;
  --eerie-black: #262626;
  --white: #fbf7f4;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--eerie-black);
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: var(--white);
}

nav {
  background-color: var(--white);
  font-weight: 600;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 20px -11px #a6a6a6;
}
nav img {
  width: 150px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav ul li a {
  transition: color 0.2s linear;
}
nav ul li a:hover {
  color: var(--accent);
}

/*todo hero section*/
.hero-section {
  background-image: url("../img/43335.jpg");
  background-color: rgb(77, 77, 77);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45vw;
  padding-block: 100px;
}
.hero-text h1 span {
  font-weight: 400;
  color: var(--white);
}
.hero-section h1 {
  color: var(--white);
  font-size: 50px;
  line-height: 60px;
}
.hero-section h2 {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 50px;
}
.btn-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/*todo menu section*/
.menu {
  padding-bottom: 70px;
  text-align: center;
  position: relative;
}

.menu-list {
  display: flex;
  gap: 10px;
  text-align: left;
  padding-bottom: 70px;
  flex-wrap: wrap;
}

.menu-list div {
  width: calc(100vw / 4 - 42px);
  background-size: cover;
  position: relative;
  box-shadow: inset 0px -84px 52px -31px #000;
  height: 350px;
  flex-grow: 1;
  transition: 0.2s linear !important;
}
.menu-list > div:nth-child(1) {
  background-image: url("../img/starters.jpeg");
  background-position: bottom;
}
.menu-list > div:nth-child(2) {
  background-image: url("../img/main-course.jpeg");
}

.menu-list > div:nth-child(3) {
  background-image: url("../img/dessert.jpeg");
  background-position: center;
}

.menu-list > div:nth-child(4) {
  background-image: url("../img/cocktail.jpeg");
  background-position: bottom;
}

.menu-list div h2 {
  position: absolute;
  bottom: 0;
  color: var(--white);
  padding: 20px;
}
/*todo about section*/
.about {
  background: url("../img/about-bg.jpeg");
  padding-block: 100px;
  display: flex;
  background-color: rgb(52, 52, 52);
  background-blend-mode: multiply;
  gap: 30px;
  position: relative;
  background-size: cover;
  background-position: left;
}
.about * {
  color: var(--white);
}
.about div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about h1 {
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}
/*todo gallery section*/

.gallery {
  position: relative;
  padding-bottom: 120px;
}
.gallery-img-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.gallery-img-container img {
  width: calc(100vw / 4 - 5px);
  flex-grow: 1;
  height: 350px;
  object-fit: cover;
  transition: 0.1s linear;
  cursor: pointer;
}

.gallery-img-container img:hover {
  transform: scale(1.05);
  z-index: 100;
}
.gallery-img-container:hover > :not(:hover) {
  filter: brightness(0.3) grayscale(100%);
  transition: 0.1s linear;
}

/*todo footer section*/

/*! RESPONSIVE */
/*? navbar */
/*? hero section */
@media screen and (max-width: 1145px) {
  .hero-text {
    width: 65vw;
  }
}
@media screen and (max-width: 850px) {
  .hero-text {
    width: 70vw;
  }
}
@media screen and (max-width: 580px) {
  .hero-text {
    width: 90vw;
  }
}
@media screen and (max-width: 450px) {
  .btn-group .secondary-button-light {
    padding: 13px 38px;
  }
  .hero-text h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .hero-text h2 {
    font-size: 16px;
  }
}
/*? menu section */
@media screen and (max-width: 900px) {
  .section-title h2 {
    font-size: 16px !important;
  }
  .section-title h1 {
    font-size: 18px !important;
  }
  .menu-list div {
    width: calc(100vw / 3 - 28px);
  }
}
@media screen and (max-width: 740px) {
  .menu-list div {
    width: calc(100vw / 2 - 50px);
  }
}
@media screen and (max-width: 600px) {
  .menu-list div {
    width: calc(100vw - 28px);
  }
}
@media screen and (max-width: 600px) and (min-width: 380px) {
  .menu-list > div:nth-child(1),
  .menu-list > div:nth-child(3),
  .menu-list > div:nth-child(4) {
    background-position: center !important;
  }
}
/*? about section */

@media screen and (min-width: 900px) {
  .about {
    box-shadow: inset -50vw 33px 109px -56px #0009;
  }
}
@media screen and (max-width: 900px) {
  .about {
    background-color: rgb(32, 32, 32);
  }
  .about > div:nth-child(1) {
    display: none;
  }
  .about > div:nth-child(2) {
    width: 80vw;
  }
}
/*? gallery section */
/*? footer section */
